.first-heading{
    display: flex;
    justify-content: center;
    background-color: aqua;
}


.container{
    background-color: antiquewhite;
    display: flex;
    gap:10px;
    justify-content: space-evenly;
}


.image-cont img{
    margin:20px;
    border:2px solid red;
    width:1800px;
    height:700px;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
     
    color: #fff; 
    padding: 10px 20px; 
    font-size: 50px; 
    text-align: center;
  }


 button{
    
    gap: 20px;
 }