*{
    background-color: rgb(148, 233, 148);
}


.head1{
    text-align: center;
    color:rgb(92, 5, 5);
    margin-top:13px;
    padding:4px;
}

.par1{
    display: inline-block;
    margin-left:400px;
    background-color: aquamarine;
    
}

.head2{
    margin-left: 100px;
}

.food-items{
    margin:20px;
    padding:20px;
    margin-left:150px;
}

.burger{
    display: inline-block;
    margin-bottom:20px;
}